@import url('https://fonts.googleapis.com/css2?family=Anton&family=Ballet&family=Bree+Serif&family=Dancing+Script:wght@400;500;600;700&display=swap');

.formato {
	@apply block lg:inline-block lg:mt-0 hover:text-blue-300;
}
input::placeholder {
	color: #718096;
	font-weight: 300;
}

.flex-100 {
	flex: 0 1 100%;
}

.flex-50 {
	flex: 0 1 50%;
}

.max-width-form {
	max-width: 450px;
}

.checkbox {
	transform: scale(1.2);
}

.bg-blue-google {
	background-color: #4285F4;
}

.bg-pink-dribbble {
	background-color: #EA4C89;
}

.button-icon {
	position: absolute;
	left: 23px;
}
body {
    background-color: var(--bg-color);
    color: var(--primary-color);
}
:root {
	--primary-color: #000000;
	--bg-color: #a0a0a05d;
	--secondary-color: #000000;
}
[data-theme="dark"] {
	--primary-color: #fff;
	--bg-color: #000000;
	--secondary-color: #ff3366;
}
.theme-switch-wrapper{
	position: relative;
}
.theme-switch {
	display: block;
	height: 34px;
	position: relative;
	width: 60px;
	margin: auto;
	margin-bottom: 1rem;
}
.theme-switch input {
	display: none;
}
.slider {
	background-color: #000000;
	bottom: 0;
	cursor: pointer;
	left: 0;
	top:0;
	right: 0;
	position: absolute;
	transition: .4s all;
}
.slider:before {
	background-color:#ffffff;
	bottom:4px;
	content: "";
	height: 26px;
	left: 4px;
	position: absolute;
	transition: .4s all;
	width: 26px;
}
input:checked + .slider {
	background-color: #ff3366;
}
input:checked + .slider:before {
	transform: translate(26px);
}
.slider.round {
	border-radius: .25rem;
}
.slider.round:before {
	border-radius: .25rem;
}
.container-slider {
	width: 90%;
	max-width: 900px;
	margin: auto;
	overflow: hidden;
	box-shadow: 0 0 0 10px #000;
	position: relative;
}
.cambio {
	display: flex;
	width: 300%;
	height: 400px;
	margin-left: -100%;
}
.slider__section{
	width: 100%;
}
.slider__img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.slider__btn {
	position: absolute;
	width: 40px;
	height: 40px;
	background: rgba(255, 255, 255, 0.7);
	top: 50%;
	transform: translate(-50%);
	font-size: 30px;
	font-weight: bold;
	font-family: monospace;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
}
.slider__btn:hover {
	background: #fff;
}
.slider__btn--left {
	left: 25px;
}
.slider__btn--right {
	right: -10px;
}
#menu ul {
  display: flex;
  justify-content: center;
}
#menu ul ul{
  display: none;
  width: auto;
  height: auto;
}
#menu a {
  display: block;
  text-decoration: none;
}
#menu a span {
  margin-left: 5px;
}
#menu ul li:hover ul {
  display: block;
  position: absolute;
}

.btn {
    @apply py-2 px-4 font-semibold rounded-lg shadow-md;
}
.btn-green {
    @apply text-white bg-green-500 hover:bg-green-700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/*inicio sesion*/
.body {
    background-image: url(img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}
.contenedor__todo {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}
.caja__trasera {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0,128,255,0.5);
}
.caja__trasera div {
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}
.caja__trasera div p,
.caja__trasera div button {
    margin-top: 30px;
}

.caja__trasera div h3 {
    font-weight: 400;
    font-size: 26px;
}
.caja__trasera button {
    padding: 10px 40px;
    border: 2px solid #fff;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    transition: all 300ms;
}
.caja__trasera button:hover {
    background: #fff;
    color: #46A2FD;
}
/*Formularios*/
.contenedor__login-register {
    display: flex;
    align-items: center;
    width: 200%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: #fff;
    position: absolute;
    border-radius: 20px;
}
.contenedor__login-register form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #46A2FD;
}
.contenedor__login-register form input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
}
.contenedor__login-register form button {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46a2FD;
    color: white;
    cursor: pointer;
}
.formulario__login {
    opacity: 1;
    display: block;
}
.formulario__register {
    display: none;
}
/*Tabajando en el responsive design*/
@media screen and (max-width: 850px){
    main {
        margin-top: 50px;
    }
    .caja__trasera {
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }
    .caja__trasera div {
        margin: 0;
        position: absolute;
    }
    /*Formulario*/
    .contenedor__login-register {
        top: -10px;
        left: -5px;
        margin: auto;
    }
    .contenedor__login-register form {
        position: relative;
    }
}