@import url('https://fonts.googleapis.com/css2?family=Anton&family=Ballet&family=Bree+Serif&family=Dancing+Script:wght@400;500;600;700&display=swap');
.menu-li {
    @apply text-white list-none p-5 text-lg hidden;
}

.texto{
	@apply text-gray-700 lg:text-white;
}

.texto-titulos{
	@apply w-full text-center p-2 text-gray-700 m-2 text-2xl lg:text-white;
}

input::placeholder {
	color: #718096;
	font-weight: 300;
}

.flex-100 {
	flex: 0 1 100%;
}

.flex-50 {
	flex: 0 1 50%;
}

.max-width-form {
	max-width: 450px;
}

.checkbox {
	transform: scale(1.2);
}

.bg-blue-google {
	background-color: #4285F4;
}

.bg-pink-dribbble {
	background-color: #EA4C89;
}

.button-icon {
	position: absolute;
	left: 23px;
}
body {
    background-color: var(--bg-color);
    color: var(--primary-color);
}
:root {
	--primary-color: #000000;
	--bg-color: #a0a0a05d;
	--secondary-color: #000000;
}
[data-theme="dark"] {
	--primary-color: #000000;
	--bg-color: #000000;
	--secondary-color: #ff3366;
}
.theme-switch-wrapper{
	position: relative;
}
.theme-switch {
	display: block;
	height: 34px;
	position: relative;
	width: 60px;
	margin: auto;
	margin-bottom: 1rem;
}
.theme-switch input {
	display: none;
}
.slider {
	background-color: #000000;
	bottom: 0;
	cursor: pointer;
	left: 0;
	top:0;
	right: 0;
	position: absolute;
	transition: .4s all;
}
.slider:before {
	background-color:#ffffff;
	bottom:4px;
	content: "";
	height: 26px;
	left: 4px;
	position: absolute;
	transition: .4s all;
	width: 26px;
}
input:checked + .slider {
	background-color: #ff3366;
}
input:checked + .slider:before {
	transform: translate(26px);
}
.slider.round {
	border-radius: .25rem;
}
.slider.round:before {
	border-radius: .25rem;
}
@tailwind base;
@tailwind components;
@tailwind utilities;